{{#each this}}

{{#switch this.type}}

{{#case 'TEXT'}}
{{this.data}}
{{/case}}

{{#case 'USER'}}
<span class="mention mention-clickable" data-parse="user-mention" onclick="userPopup('{{this.data}}', event)">{{this.data}}</span>
{{/case}}

{{#case 'CHANNEL'}}
<a class="mention" data-parse="channel-mention">{{this.data}}</a>
{{/case}}

{{#case 'ROLE'}}
<span class="mention" data-parse="role-mention">{{this.data}}</span>
{{/case}}

{{#case 'EMOJI'}}
<img width="16" height="16" style="display: inline-block;" data-parse="emoji" src="{{this.data}}" alt="{{this.data}}">
{{/case}}

{{#case 'PING'}}
<span class="mention">{{this.data}}</span>
{{/case}}

{{#case 'PING_RAW'}}
<span data-parse="user-mention" class="mention mention-clickable" onclick="userPopup('{{this.data}}', event)">{{this.data}}</span>
{{/case}}

{{#case 'BOLD'}}
<b>{{this.data}}</b>
{{/case}}

{{#case 'SPOILER'}}
<span class="text-spoiler text-spoiler-hidden"
    onclick="event.currentTarget.classList.remove('text-spoiler-hidden')">{{this.data}}</span>
{{/case}}

{{#case 'ITALIC'}}
<i>{{this.data}}</i>
{{/case}}

{{#case 'BLOCK'}}
<span class="text-content-block">{{this.data}}</span>
{{/case}}

{{#case 'SMALLCODE'}}
<span class="text-content-smallcode">{{this.data}}</span>
{{/case}}

{{#case 'URL_LABEL'}}
<a href="#" target="_blank" class="link">{{this.data}}<i class="material-icons">open_in_new</i></a>
{{/case}}

{{#case 'URL'}}
{{#if this.attachmentID}}
<!--<span class="message-attachment" onclick="ToggleAttachment('{{../id}}-{{this.attachmentID}}')"><i class="material-icons">link</i>Linked attachment</span>-->
{{else}}
<a href="{{this.data}}" target="_blank" class="link">{{this.data}}</a>
{{/if}}
{{/case}}

{{#case 'IMG'}}
<div id="msg-attachment-{{../id}}-{{this.attachmentID}}" style="display:block;">
    <img src="{{this.data}}" style="display: block; max-height: 256px;">
    <a href="{{this.data}}" target="_blank" class="link"><i class="material-icons">open_in_new</i></a>
</div>
{{/case}}

{{#case 'VIDEO'}}
<div id="msg-attachment-{{../id}}-{{this.attachmentID}}" style="display:block;">
    <video src="{{this.data}}" style="display: block; max-height: 256px;" controls>
        <a href="{{this.data}}" target="_blank" class="link"><i class="material-icons">open_in_new</i></a>
    </video>
</div>
{{/case}}

{{#case 'BR'}}
<br>
{{/case}}

{{#casedefault}}
{{this.type}}
{{/casedefault}}

{{/switch}}

{{/each}}