<div>
    <style>
        #content>div>div>div {
            margin-bottom: 14px;
        }
    </style>

    <div>
        <h2>Application</h2>

        <div>
            <h3>Id</h3>
            <span>{{id}}</span>
        </div>

        <div>
            <h3>Created At</h3>
            <span>{{createdAt}}</span>
        </div>

        {{#if name}}
        <div>
            <h3>Name</h3>
            <span>{{name}}</span>
        </div>
        {{/if}}

        {{#if approximateGuildCount}}
        <div>
            <h3>Approximate Guild Count</h3>
            <span>{{approximateGuildCount}}</span>
        </div>
        {{/if}}

        {{#if description}}
        <div>
            <h3>Description</h3>
            <span>{{description}}</span>
        </div>
        {{/if}}

        <div>
            <h3>Flags</h3>
            <span>{{flags}}</span>
        </div>
    </div>

    <div>
        <h2>Bot</h2>

        <div>
            <h3>Public</h3>
            <span>{{botPublic}}</span>
        </div>

        <div>
            <h3>Require Code Grant</h3>
            <span>{{botRequireCodeGrant}}</span>
        </div>
    </div>

    <div>
        <h2>Owner</h2>

        <div>
            <h3>Guild Id</h3>
            <span>{{guildId}}</span>
        </div>

        <div>
            <h3>Owner</h3>
            <span>{{owner}}</span>
        </div>
    </div>

    <div>
        <h2>URLs</h2>
        
        <div>
            <h3>Interactions Endpoint URL</h3>
            <span>{{interactionsEndpointURL}}</span>
        </div>

        <div>
            <h3>Role Connections Verification URL</h3>
            <span>{{roleConnectionsVerificationURL}}</span>
        </div>
    </div>
</div>