<style>
    #guild-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #guild-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex: 1 1;
        background-color: var(--bg-overlay-chat, var(--background-primary));
        overflow-x: hidden;
    }

    #guild-top {
        flex: 0 0 48px;
        padding: 0px 8px;
        box-shadow: var(--elevation-low);
    }
</style>

<div id="guild-container">
    {{>guilds-sidebar}}

    {{>home-channels}}

    <main id="guild-content">
        <section id="guild-top">
        </section>

        <style>
            #guild-main {
                position: relative;
                display: flex;
                flex: 1 1 100%;
                min-height: 0;
                min-width: 0;
                z-index: 0;
                flex-direction: column;
                overflow-y: auto;
                overflow-x: hidden;
                box-sizing: border-box;
                max-width: 100%;
                overflow-x: hidden;
                padding-bottom: 20px;
            }
        </style>
        <div id="guild-main">
            <script>
                function ToggleAttachment(id) {
                    const attachment = document.getElementById('msg-attachment-' + id)
                    if (attachment.style.display === 'none') {
                        attachment.style.display = 'block'
                    } else {
                        const videoElement = attachment.querySelector('video')
                        if (videoElement) {
                            videoElement.pause()
                        }
                        attachment.style.display = 'none'
                    }
                }
            </script>

            <script>console.log({{{ json this.messages }}})</script>
            {{#each channel.messages}}
            {{#with this}}{{>message}}{{/with}}
            {{/each}}
            <script>
                setTimeout(() => document.getElementById('guild-main').scrollTo(0, document.getElementById('guild-main').scrollHeight), 1)
            </script>
        </div>

        <style>
            #send-message {
                position: relative;
                flex: 1 0 auto;
                padding-left: 16px;
                padding-right: 16px;
                margin-top: -8px;
                margin-bottom: 24px;
                background-color: var(--background-primary);
                text-indent: 0;
                border-radius: 8px;
            }

            #send-message>div {
                background: var(--bg-overlay-3, var(--channeltextarea-background));
                overflow-x: hidden;
                overflow-y: auto;
                max-height: 50vh;
                border-radius: 8px;
                backface-visibility: hidden;
                padding-left: 16px;
                display: flex;
                position: relative;
            }

            #send-message>div>div:nth-child(1) {
                position: sticky;
                top: 10px;
                flex: 0 0 auto;
                align-self: center;
                margin-right: 16px;
            }

            #send-message>div>div:nth-child(1)>button {
                background: transparent;
                color: currentColor;
                border: 0;
                padding: 10px 16px;
                margin: 0;
                cursor: pointer;
                height: 44px;
                position: sticky;
                top: 0;
                margin-left: -16px;
                width: 44px;
            }

            #send-message>div>div:nth-child(2) {
                background-color: transparent;
                resize: none;
                border: none;
                position: relative;
                appearance: none;
                box-sizing: border-box;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.375rem;
                width: 100%;
                min-height: 44px;
                color: var(--text-normal);
                padding-left: 0;
                padding-right: 10px;
                padding: 0;
            }

            #send-message>div>div:nth-child(3) {
                display: flex;
                flex-direction: row;
                height: 44px;
                position: sticky;
                top: 0;
                margin-right: -6px;
            }

            #send-message>div>div:nth-child(2)>div {
                font-size: 1rem;
                line-height: 1.375rem;
                white-space: pre-wrap;
                white-space: break-spaces;
                word-wrap: break-word;
                -webkit-user-select: text;
                -moz-user-select: text;
                user-select: text;
                color: var(--text-normal);
                padding-right: 10px;
                position: relative;
                left: 0;
                right: 10px;
                overflow-wrap: break-word;
                white-space: break-spaces !important;
                caret-color: var(--text-normal);
                text-align: left;
                word-break: break-word;
                padding-bottom: 11px;
                padding-top: 11px;
            }
        </style>
        <div id="send-message">
            <div>
                <div>
                    <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="none" viewBox="0 0 24 24">
                        <circle cx="12" cy="12" r="10" fill="transparent"></circle>
                        <path fill="var(--interactive-normal)" fill-rule="evenodd"
                            d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm0-17a1 1 0 0 1 1 1v4h4a1 1 0 1 1 0 2h-4v4a1 1 0 1 1-2 0v-4H7a1 1 0 1 1 0-2h4V7a1 1 0 0 1 1-1Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
                <div>
                    <div role="textbox" spellcheck="true" autocorrect="off" contenteditable="true" style="position: relative; outline: none; white-space: pre-wrap; overflow-wrap: break-word;"
                        onkeypress="if (event.key === 'Enter' && !event.shiftKey) { sendMessage('@me', '{{channel.id}}', this.textContent); event.preventDefault(); this.textContent = ''; }"></div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </main>

    <script>
        {{#if guild.id}}
        const guildId = {{{ json guild.id }}};
        {{else}}
        const guildId = null;
        {{/if}}

        {{#if channel.id}}
        const channelId = {{{ json channel.id }}};
        {{else}}
        const channelId = null;
        {{/if}}
    </script>

    <script src="/scripts/discord/message-handler.js"></script>
</div>
